/** 23-08-2017 LS: Added custom CSS for changing different items **/
.manufacturer-item{
	float: none;
	display: block;
	width: 100%;
}

.manufacturer-item a{
	float: none;
	display: block;
	width: 100%;
}